In [22]:
import pandas as pd
import xarray as xr

In [27]:
df = pd.read_csv('data/line_208_interp.csv')
meta = pd.read_csv('data/meta.txt', delimiter='\t')

In [28]:
meta.head()

,Area,Line-Station,Begin date(YYYY-MM-DD),End date(YYYY-MM-DD),Latitude(˚N),Longitude(˚E),Zooplankton sampling depth(m),Bottom depth(m)
0,East Sea,102-00,1997-02-05,NaN,36.0767,129.5883,NaN,52
1,East Sea,102-04,1962-06-23,NaN,36.0767,129.6150,NaN,52
2,East Sea,102-05,1961-06-19,NaN,36.0767,129.6883,100.0,210
3,East Sea,102-06,1961-06-19,NaN,36.0767,129.7967,NaN,700
4,East Sea,102-07,1961-06-19,NaN,36.0767,130.0000,100.0,"1,390"

In [24]:
df['date'] = pd.to_datetime(df['julian'], origin='julian', unit='D')

In [25]:
df = df.drop(columns=['station', 'julian'])

In [26]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14471 entries, 0 to 14470
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   depth        14471 non-null  int64
 1   temperature  14471 non-null  float64
 2   date         14471 non-null  datetime64[ns]
dtypes: datetime64[ns](1), float64(1), int64(1)
memory usage: 339.3 KB

In [ ]:
df.to_xarray(
    df['temperature'],
    dims=('time', 'depth', 'location'),
    coords={
        'time': df['date'],
        'depth': df['depth'],
        'location': df['
    },
)