In [1]:
import numpy as np
import pandas as pd

In [2]:
file_list = ['data/soo_list_%d.txt' % d for d in np.arange(1969, 2025)]

In [3]:
meta = pd.read_csv('./data/meta.txt', delimiter='\t', header=0)

In [4]:
east_sea_meta= meta[(meta['Area'] == 'East Sea') & (meta['End date(YYYY-MM-DD)'].isna())].drop(columns=['Zooplankton sampling depth(m)'])

In [5]:
east_sea_meta.info()

<class 'pandas.core.frame.DataFrame'>
Index: 74 entries, 0 to 148
Data columns (total 7 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Area                    74 non-null     object
 1   Line-Station            74 non-null     object
 2   Begin date(YYYY-MM-DD)  70 non-null     object
 3   End date(YYYY-MM-DD)    0 non-null      object
 4   Latitude(˚N)            74 non-null     float64
 5   Longitude(˚E)           74 non-null     float64
 6   Bottom depth(m)         70 non-null     object
dtypes: float64(2), object(5)
memory usage: 4.6+ KB

In [6]:
df_208 = pd.DataFrame()
for f in file_list:
    df = pd.read_csv(f, delimiter='\t', skiprows=1,
                     usecols=[1, 2, 3, 7, 8, 9],
                     names=['cruiseline', 'station', 'date', 'depth', 'temperature', 'qc'])
    df = df[(df['qc'] == 1) & (df['cruiseline'] == 208) & (df['station'].isin([1, 2, 3, 4]))]
    df = df.drop(columns='qc')
    df['date'] = pd.to_datetime(df['date'])
    df['julian'] = [pd.Timestamp(ts).to_julian_date() for ts in df['date']]
    df_208 = pd.concat([df_208, df])
df_208.to_csv('data/line_208.csv', index=False)